html {
    background: #83A696;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
}
.calcExt {
display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 5px solid black;
    background: #393C48;
    max-width: 500px;
    margin-top: 100px;
    height: 600px;
    margin-bottom: 100px;
    border-radius: 10px;

}
.calcInt {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 2fr;
}
input {
    font-size: 40px;
    font-family:'Bungee', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 435px;
margin-top: 25px;
height: 105px;
border-radius: 5px;
background-color: #FEFEFA;
box-shadow: black 5px 5px;
}
button {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 40px;
    font-family:'Bungee', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: #D3D3D1;
    box-shadow: black 5px 5px;
}
.operator {
    background-color: #E4C56B;
}
#clear {
    background-color: #BC726F;
}
